*,
*:before,
*:after {
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: bisque;
    padding: 0;
    margin: 0;
  }

  .meny {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .meny-element {
    padding: 1rem;
    list-style: none;
    font-size: 1.5rem;
    background-color: bisque;
  }
  .meny-element:hover {
    padding: 1rem;
    list-style: none;
    font-size: 1.5rem;
    background-color: burlywood;
    border-radius: 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:visited {
    color: black;
  }

  li {
    list-style: none;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-color: bisque;
    padding: 0;
    margin: 0;
    padding-left: 16%;
    padding-right: 16%;
  }

  .meny {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .meny-element {
    padding: 1rem;
    list-style: none;
    font-size: 1.5rem;
    background-color: bisque;
  }
  .meny-element:hover {
    padding: 1rem;
    list-style: none;
    font-size: 1.5rem;
    background-color: burlywood;
    border-radius: 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:visited {
    color: black;
  }

  li {
    list-style: none;
  }
}
/* 
 * Css för meny samt body. Bisque masterrace
 */

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .Olle {
    width: 100%;
    height: 325px;
    border-radius: 5px;
  }
  .omMig {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 1em;
    margin-right: 0.25em;
    padding-inline: 1em;
    justify-content: space-between;
  }

  p {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  .Olle {
    width: 100%;
    height: 800px;
    border-radius: 5px;
  }
  .omMig {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-inline: 2em;
    padding-inline: 2em;
    justify-content: space-between;
  }

  p {
    text-align: center;
  }
  .ikoner {
    display: flex;
    flex-direction: row;
    align-items: space-around;
  }
}
/* 
 * Startsida, text om mig samt bild och ikoner.
 */

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.kontakt {
  padding-top: 5em;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.formulär {
  width: 50%;
  background-color: rgba(39, 75, 75, 0.26);
  border-radius: 10px;
}

form {
  padding: 1.5em;
}

.input-namn {
  width: 100%;
  background: url(/Images/icons8-person-20.png) no-repeat scroll 97% 7px;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(102, 105, 104, 0.603);
}

.input-email {
  width: 100%;
  margin-top: 1em;
  background: url(/Images/icons8-email-20.png) no-repeat scroll 97%;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(102, 105, 104, 0.603);
}

.input-email:focus {
  outline: none;
  box-shadow: 0 0 15px 4px rgba(87, 180, 95, 0.603);
  background: url(/Images/icons8-email-20-green.png) no-repeat scroll 97% 7px;
  background-color: white;
}

.input-namn:focus {
  outline: none;
  box-shadow: 0 0 15px 4px rgba(87, 180, 95, 0.603);
  background: url(/Images/icons8-person-20-green.png) no-repeat scroll 97% 7px;
  background-color: white;
}

.filler {
  width: 50%;
}

.knapp {
  margin-top: 5%;
  appearance: none;
  padding: 10px;
  border: none;
  background-color: #030303e3;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.knapp:hover {
  box-shadow: 0 0 10px 6px rgba(87, 180, 95, 0.603);
  color: green;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(102, 105, 104, 0.603);
  background-color: white;
}

select:focus {
  box-shadow: 0 0 15px 4px rgba(87, 180, 95, 0.603);
}

input {
  padding: 2px;
}

textarea {
  margin-top: 2em;
  margin-bottom: 2em;
  resize: none;
  padding: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(102, 105, 104, 0.603);
}

textarea:focus {
  box-shadow: 0 0 15px 4px rgba(87, 180, 95, 0.603);
  outline: none;
}

.kontakt {
  text-align: center;
  padding: 0;
}
/*
  * Kontaktsida
  */

.projekt-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-img1 {
  width: 90%;
  height: 100%;
  -webkit-animation: 0.2s linear forwards go-back;
  -moz-animation: 0.2s linear forwards go-back;
  -o-animation: 0.2s linear backwards go-back;
  animation: 0.2s linear forwards go-back;
}

.display-img2 {
  width: 95%;
  height: 100%;
  -webkit-animation: 0.2s linear forwards go-back;
  -moz-animation: 0.2s linear forwards go-back;
  -o-animation: 0.2s linear backwards go-back;
  animation: 0.2s linear forwards go-back;
}

.display-img1:hover {
  -webkit-animation: 0.5s linear forwards reveal;
  -moz-animation: 0.5s linear forwards reveal;
  -o-animation: 0.5s linear backwards reveal;
  animation: 0.5s linear forwards reveal;
}

.display-img2:hover {
  -webkit-animation: 0.5s linear forwards reveal;
  -moz-animation: 0.5s linear forwards reveal;
  -o-animation: 0.5s linear forwards reveal;
  animation: 0.5s linear forwards reveal;
}

@-webkit-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}
@-moz-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}
@-o-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}
@keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}

@-webkit-keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}
@-moz-keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}
@-o-keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}
@keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}

.projekt-preview {
  padding-top: 10em;
  display: flex;
  width: fit-content;
  flex-direction: row;
}

.fillerDiv {
  width: 5%;
}

.projekt-item {
  position: relative;
}

.projekt1text {
  color: white;
  position: absolute;
  top: 44%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.projekt2text {
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
/*
 * Landningssida för mina projekt, preview för alla projekt med blurrad bild samt text på.
 */

#git-link {
  text-decoration: underline;
}

#caesar1 {
  width: 75%;
}

#caesar2 {
  width: 75%;
}

#Elin-och-Marcus {
  width: 90%;
}
