body {
  background-color: bisque;
  padding: 0;
  margin: 0;
  padding-left: 16%;
  padding-right: 16%;
}

.meny {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.meny-element {
  padding: 1rem;
  list-style: none;
  font-size: 1.5rem;
  background-color: bisque;
}
.meny-element:hover {
  padding: 1rem;
  list-style: none;
  font-size: 1.5rem;
  background-color: burlywood;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

li {
  list-style: none;
}
/* 
 * Css för meny samt body. Bisque masterrace
 */

.container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.Olle {
  width: 100%;
  height: 800px;
}
.omMig {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  margin-inline: 2em;
  padding-inline: 2em;
  justify-content: space-between;
}

p {
  text-align: center;
}

/* 
 * Startsida, text om mig samt bild och ikoner.
 */

.projekt-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-img1 {
  width: 90%;
  height: 100%;
  -webkit-animation: 0.2s linear forwards go-back;
  -moz-animation: 0.2s linear forwards go-back;
  -o-animation: 0.2s linear backwards go-back;
  animation: 0.2s linear forwards go-back;
}

.display-img2 {
  width: 95%;
  height: 100%;
  -webkit-animation: 0.2s linear forwards go-back;
  -moz-animation: 0.2s linear forwards go-back;
  -o-animation: 0.2s linear backwards go-back;
  animation: 0.2s linear forwards go-back;
}

.display-img1:hover {
  -webkit-animation: 0.5s linear forwards reveal;
  -moz-animation: 0.5s linear forwards reveal;
  -o-animation: 0.5s linear backwards reveal;
  animation: 0.5s linear forwards reveal;
}

.display-img2:hover {
  -webkit-animation: 0.5s linear forwards reveal;
  -moz-animation: 0.5s linear forwards reveal;
  -o-animation: 0.5s linear forwards reveal;
  animation: 0.5s linear forwards reveal;
}

@-webkit-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}
@-moz-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}
@-o-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}
@keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}

@-webkit-keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}
@-moz-keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}
@-o-keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}
@keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}

.projekt-preview {
  padding-top: 10em;
  display: flex;
  width: fit-content;
  flex-direction: row;
}

.fillerDiv {
  width: 5%;
}

.projekt-item {
  position: relative;
}

.projekt1text {
  color: white;
  position: absolute;
  top: 44%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.projekt2text {
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
/*
 * Landningssida för mina projekt, preview för alla projekt med blurrad bild samt text på.
 */

#git-link {
  text-decoration: underline;
}

#caesar1 {
  width: 75%;
}

#caesar2 {
  width: 75%;
}
